<a {{action 'trackClick' 'share' 'line'}} {{bind-attr href=lineShare}}>{{svg 'line' role='img' class='icon line'}}</a>
<a {{action 'trackClick' 'share' 'fb'}} {{bind-attr href=facebookShare}}>{{svg 'fb' role='img' class='icon fb'}}</a>
<a {{action 'trackClick' 'share' 'twitter'}} {{bind-attr href=twitterShare}}>{{svg 'twitter' role='img' class='icon twitter'}}</a>
