{{#if model.wordmark.image-data.url}}
	<div class="wds-community-header__wordmark">
		<a accesskey="z" href="{{model.wordmark.href}}">
			<img src="{{model.wordmark.image-data.url}}"
					 width="{{model.wordmark.image-data.width}}"
					 height="{{model.wordmark.image-data.height}}"
					 alt="{{model.wordmark.title.value}}"
			>
		</a>
	</div>
{{/if}}
<div class="wds-community-header__top-container">
	<div class="wds-community-header__sitename">
		<a href="{{model.sitename.href}}">{{model.sitename.title.value}}</a>
	</div>
	<div class="wds-community-header__counter">
		<span class="wds-community-header__counter-value">
			{{numeral numberOfPosts}}
		</span>
		<span class="wds-community-header__counter-label">
			{{numberOfPostsLabel}}
		</span>
	</div>

	<div class="wds-community-header__wiki-buttons wds-button-group wds-avatar-stack">
		{{#each contributors as |contributor|}}
			<a href="{{contributor.url}}" class="wds-avatar-stack__avatar" title="{{contributor.name}}">
				<img src="{{contributor.avatarUrl}}" alt="{{contributor.name}}" class="wds-avatar">
			</a>
		{{/each}}
	</div>

</div>
{{design-system.local-navigation model=model.navigation}}
