<header style="{{communityHeaderStyle}}" class="wds-community-header">
	{{log model}}
	{{#if model.wordmark.image-data.url}}
		<div class="wds-community-header__wordmark">
			<a accesskey="z" href="{{model.wordmark.href}}">
				<img src="{{model.wordmark.image-data.url}}"
						 width="{{model.wordmark.image-data.width}}"
						 height="{{model.wordmark.image-data.height}}"
						 alt="{{model.wordmark.title.value}}"
				>
			</a>
		</div>
	{{/if}}
	<div class="wds-community-header__top-container">
		<div class="wds-community-header__sitename">
			<a href="{{model.sitename.href}}">{{model.sitename.title.value}}</a>
		</div>
		<div class="wds-community-header__counter">
			{{!fixme - that should display number of post on discussions}}
			<span class="wds-community-header__counter-value">{{numeral model.counter.value}}</span>
			<span class="wds-community-header__counter-label">{{i18n model.counter.label.key}}</span>
		</div>
		{{!TODO avatars
			<div class="wds-community-header__wiki-buttons wds-button-group">
				<a class="wds-button wds-is-squished wds-is-secondary" href="/wiki/Special:CreatePage">
					<svg class="wds-icon-small wds-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-add-new-page-small"></use>
					</svg>
					<span>Add new page</span>
				</a>
			</div>
		}}
	</div>
	{{design-system.local-navigation model=model.navigation}}
</header>
