{{#design-system.wds-dropdown
	class='wds-global-navigation__notifications notifications'
	onClose=this.attrs.onClose
	onOpen=this.attrs.onOpen
	as |dropdown|
}}
	{{#dropdown.toggle class='wds-global-navigation__dropdown-toggle notifications-toggle'}}
		{{#if unreadCount}}
			<span class="notifications-unread-mark">
				{{unreadCount}}
			</span>
		{{/if}}
		{{svg 'wds-icons-bell' class='wds-icon wds-icon-small icon-bell'}}
	{{/dropdown.toggle}}
	{{#dropdown.content
		class='wds-global-navigation__dropdown-content'
		dropdownRightAligned=true
	}}
		<div class="notifications-dropdown-content">
			{{#if notificationsList.length}}
				{{#if hasUnread}}
					<div class="mark-all-as-read-button">
						<a {{action 'markAllAsRead'}} class="mark-all-as-read">
							{{i18n 'notifications.mark-all-as-read' ns='discussion'}}
						</a>
					</div>
				{{/if}}
				<ul class="wds-list wds-has-lines-between notifications-list">
					{{#each notificationsList as |notification|}}
						{{log notification}}
						{{notification-card
							model=notification
						}}
					{{/each}}
				</ul>
			{{else}}
				<div class="notifications-empty-content">
					{{i18n 'notifications.no-notifications-message' ns='discussion'}}
				</div>
			{{/if}}
			{{loading-spinner
				active=isLoadingNewResults
				radius=38
				strokeWidth=3
			}}
		</div>
	{{/dropdown.content}}
{{/design-system.wds-dropdown}}
