{{#design-system.wds-dropdown as |dropdown|}}
	{{#dropdown.toggle class='wds-tabs__tab-label'}}
		{{#if model.href}}
			<a href="{{model.href}}">
				{{#if model.icon}}
					{{design-system.wds-icon name=model.icon class='wds-icon-tiny'}}
				{{/if}}
				<span>
					{{#if model.title.key}}
						{{i18n model.title.key}}
					{{else}}
						{{model.title.value}}
					{{/if}}
				</span>
			</a>
		{{else}}
			{{#if model.icon}}
				{{wds-icon name=model.icon class='wds-icon-tiny'}}
			{{/if}}
			<span>
				{{#if model.title.key}}
					{{i18n model.title.key}}
				{{else}}
					{{model.title.value}}
				{{/if}}
			</span>
		{{/if}}
	{{/dropdown.toggle}}
	{{#dropdown.content isNotScrollable=true}}
		<ul class="wds-list wds-is-linked wds-has-bolded-items">
			{{#each model.items as |secondLevelItem index|}}
				{{#if secondLevelItem.items}}
					{{design-system.local-navigation-dropdown-level-2 model=secondLevelItem
																													 currentIndex=index}}
				{{else}}
					<li>
						<a href="{{secondLevelItem.href}}">
							{{#if model.label.key}}
								{{i18n secondLevelItem.title.key}}
							{{else}}
								{{secondLevelItem.title.value}}
							{{/if}}
						</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	{{/dropdown.content}}
{{/design-system.wds-dropdown}}
