<ul class="wds-tabs">
	{{#each model as |item|}}
		<li class="wds-tabs__tab{{if (equal item.href '/d/f') ' wds-is-current'}}">
			{{#if item.items}}
				{{design-system.local-navigation-dropdown item=item}}
			{{else}}
				<div class="wds-tabs__tab-label">
					<a href="{{item.href}}">
						{{#if item.image-data}}
							{{svg item.image-data.name class='wds-icon wds-icon-tiny'}}
						{{/if}}
						<span>
							{{#if (equal item.title.type 'translatable-text')}}
								{{i18n item.title.key ns='design-system'}}
							{{else}}
								{{item.title.value}}
							{{/if}}
						</span>
					</a>
				</div>
			{{/if}}
		</li>
	{{/each}}
</ul>
