{{#design-system.wds-dropdown isLevel2=true tagName='li' class=stickedClassName as |dropdown|}}
	{{#dropdown.toggle tagName='a' href='#'}}
		<span>
			{{#if model.title.key}}
				{{i18n model.title.key}}
			{{else}}
				{{model.title.value}}
			{{/if}}
		</span>
	{{/dropdown.toggle}}
	{{#dropdown.content isNotScrollable=true}}
		<ul class="wds-list wds-is-linked">
			{{#each model.items as |thirdLevelItem|}}
				<li><a href="{{thirdLevelItem.href}}">{{thirdLevelItem.title.value}}</a></li>
			{{/each}}
		</ul>
	{{/dropdown.content}}
{{/design-system.wds-dropdown}}
