{{#design-system.wds-dropdown as |dropdown|}}
	{{#dropdown.toggle class='wds-tabs__tab-label'}}
		{{#if model.href}}
			<a href="{{model.href}}">
				{{#if model.image-data}}
					{{svg model.image-data.name class='wds-icon wds-icon-tiny'}}
				{{/if}}
				<span>
					{{#if (equal model.title.type 'translatable-text')}}
						{{i18n model.title.key ns='design-system'}}
					{{else}}
						{{model.title.value}}
					{{/if}}
				</span>
			</a>
		{{else}}
			{{#if model.image-data}}
				{{svg model.image-data.name class='wds-icon wds-icon-tiny'}}
			{{/if}}
			<span>
				{{#if (equal model.title.type 'translatable-text')}}
					{{i18n model.title.key ns='design-system'}}
				{{else}}
					{{model.title.value}}
				{{/if}}
			</span>
		{{/if}}
	{{/dropdown.toggle}}
	{{#dropdown.content isNotScrollable=true}}
		<ul class="wds-list wds-is-linked wds-has-bolded-items">
			{{#each model.items as |secondLevelItem index|}}
				{{#if secondLevelItem.items}}
					{{design-system.local-navigation-dropdown-level-2
						model=secondLevelItem
						currentIndex=index
					}}
				{{else}}
					<li>
						<a href="{{secondLevelItem.href}}">
							{{#if (equal model.title.type 'translatable-text')}}
								{{i18n secondLevelItem.title.key ns='design-system'}}
							{{else}}
								{{secondLevelItem.title.value}}
							{{/if}}
						</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	{{/dropdown.content}}
{{/design-system.wds-dropdown}}
