{{#if fullPage}}
	{{outlet}}
{{else}}
	{{#if responsive.isMobile}}
		{{site-head
			smartBannerVisible=smartBannerVisible
			toggleDrawer=this.attrs.toggleDrawer
			themeBar=themeBar
			drawerContent=activeDrawerContent
			drawerVisible=drawerVisible
			setDrawerContent=(action 'setDrawerContent')
		}}
	{{else}}
		{{design-system.global-navigation
			isGlobalNavigationPositionFixed=isGlobalNavigationPositionFixed
			triggerGlobalNavigationHeadroomStateChange=(route-action 'triggerGlobalNavigationHeadroomStateChange')
		}}
	{{/if}}

	{{#wikia-drawer
		shouldBeVisible=drawerVisible
	}}
		{{#if activeDrawerContent}}
			{{component
				drawerContentComponent
				onEnterHandler=(action 'closeDrawer')
				suggestionClickAction=(action 'closeDrawer')
				closeDrawer=(action 'closeDrawer')
				outsideSuggestionsClickAction=(action 'closeDrawer')
				loadRandomArticle=this.attrs.loadRandomArticle
				goToSearchResults=this.attrs.goToSearchResults
				setDrawerContent=(action 'setDrawerContent')
				noScroll=true
				focusInput=true
			}}
		{{/if}}
	{{/wikia-drawer}}

	{{smart-banner-android
		isVisible=smartBannerVisible
		toggleVisibility=attrs.toggleSmartBanner
	}}
	{{#if noMargins}}
		{{outlet}}
	{{else}}
		<div class="page-wrapper row" lang={{language.content}} dir={{language.contentDir}}>
			{{outlet}}
		</div>
	{{/if}}
{{/if}}
{{wikia-in-your-lang}}
{{alert-notifications alerts=alertNotifications}}
{{wds-spinner active=isLoading}}
