{{#if responsive.isMobile}}
	{{#ember-wormhole to="site-head-sub-header"}}
		{{discussion-header
			canDeleteAll=false
			deleteAllPosts=(action this.attrs.deleteAllPosts)
			hasBackButton=true
			hasFilters=false
			hasNewPostButton=false
			smartBannerVisible=smartBannerVisible
		}}
	{{/ember-wormhole}}
{{/if}}
{{discussion-dialog
	confirmButtonText=confirmButtonText
	confirmCallback=confirmCallback
	dialogMessage=dialogMessage
	headerText=dialogHeaderText
	isConfirm=isConfirm
	isVisible=shouldShowDialogMessage
}}
<div class="site-body-discussion post-details-view">
	<div class="discussion-content-wrapper">
		<div class="discussion-page row">
			<div class="rail large-2 columns">
				{{#unless hasContentError}}
					<div class="discussion-contributors-title">
						{{i18n 'main.contributors-title' ns='discussion'}}
					</div>
					{{discussion-contributors
						users=model.contributors.users
						maxContributorDisplayCount=7
						totalContributorCount=model.contributors.count
					}}
				{{/unless}}
				{{discussion-side-button
					route='discussion'
				}}
			</div>
			<div class="discussion post small-12 large-8 columns">
				{{yield}}
			</div>
			<div class="rail large-2 columns">
				{{discussion-community-unit
					canModerate=model.canModerate
					displayGuidelinesLink=true
					displayWikiaHomeLink=true
					showAppPromotion=false
					guidelines=attributes.guidelines
					listPage=true
				}}
			</div>
		</div>
	</div>
</div>
