<form name="discussion-filters">
	<div class="discussion-filters-fields-wrapper">
		{{#if canShowCategories}}
			{{discussion-categories
				categories=categories
				disabled=isCategoryFilterDisabled
				inputIdPrefix='filters'
				triggerHighlightOverlayStateChange=(route-action 'triggerHighlightOverlayStateChange')
				updateCategories=(action this.attrs.updateCategories)
				updateCategoriesSelection=(action 'updateCategoriesSelection')
				validatePostsOnForum=(action this.attrs.validatePostsOnForum)
			}}
		{{/if}}

		{{#if canModerate}}
			{{discussion-hide-deleted
				disabled=false
				hideDeleted=willHideDeleted
				toggleHideDeleted=(action 'toggleHideDeleted')
			}}
		{{/if}}

		{{#if showSortSection}}
			{{discussion-sort
				disabled=isSortingDisabled
				setSortBy=(action 'setSortBy')
				sortBy=sortBy
			}}
		{{/if}}

		{{#discussion-moderator-tools}}
			<li>
				{{#link-to 'discussion.reported-posts' class='text-link active-element-theme-color'
					click=params.trackReportedContentTap}}
					{{svg 'wds-icons-alert-small' role='img' class='wds-icon wds-icon-small icon'}}
					<span>{{i18n 'main.reported-content' ns='discussion'}}</span>
				{{/link-to}}
			</li>
			<li>
				{{#link-to 'discussion.moderator.user-activity' (query-params days="30")
					class='text-link active-element-theme-color' click=params.trackUserActivityTap}}
					{{svg 'wds-icons-activity' role='img' class='wds-icon wds-icon-small icon user-activity'}}
					<span>{{i18n 'main.user-activity' ns='discussion'}}</span>
				{{/link-to}}
			</li>
		{{/discussion-moderator-tools}}

	</div>
	{{#if showApplyButton}}
		<div class="filters-apply-container header-text-theme-color">
			<input type="submit" class="filters-apply" value="{{i18n 'main.sort-by-apply' ns='discussion'}}" {{action 'applyFilters'}}>
		</div>
	{{/if}}
</form>
