<h4 class="discussions-links">{{i18n 'main.discussions-links' ns='discussion'}}</h4>
{{#if displayGuidelinesLink}}
	<div class="guidelines-link-section">
		{{#link-to 'discussion.guidelines' class='guidelines-link active-element-theme-color' click=(action 'openGuidelines')}}
			{{svg 'guide-small' role='img' class='icon wikia-guidelines'}}
			<span>{{i18n 'main.guidelines-link-title' ns='discussion'}}</span>
		{{/link-to}}
		{{#if canEditGuidelines}}
			<a class="guidelines-edit-link active-element-theme-color" {{action 'openGuidelinesEditor'}}>
				{{i18n 'main.edit-guidelines' ns='discussion'}}
				{{svg 'pencil' viewBox='0 0 18 18' class='icon fill-theme-color'}}
			</a>
		{{/if}}
	</div>
{{/if}}

{{#discussion-moderator-tools
	mainPage=mainPage
}}
	<li>
		{{#link-to 'discussion.reported-posts' class='text-link active-element-theme-color'
			click=params.trackReportedContentTap}}
			{{svg 'wds-icons-alert-small' role='img' class='wds-icon wds-icon-small icon'}}
			<span>{{i18n 'main.reported-content' ns='discussion'}}</span>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'discussion.moderator.user-activity' (query-params days="30")
			class='text-link active-element-theme-color' click=params.trackUserActivityTap}}
			{{svg 'wds-icons-activity' role='img' class='wds-icon wds-icon-small user-activity icon'}}
			<span>{{i18n 'main.user-activity' ns='discussion'}}</span>
		{{/link-to}}
	</li>
{{/discussion-moderator-tools}}

{{#if displayAppPromotion}}
	<p class="discussion-app-join-text">
		{{i18n (if listPage 'main.app-promotion-text' 'main.app-promotion-text-details-page') ns='discussion'}}
	</p>
	{{#if iosAppLink}}
		<a href="{{iosAppLink}}" target="_blank" class="apple-store-badge"></a>
	{{/if}}
	{{#if androidAppLink}}
		<a href="{{androidAppLink}}" target="_blank" class="google-play-badge"></a>
	{{/if}}
{{/if}}
