<div class="discussion-header header clearfix background-theme-color">
	{{#if hasBackButton }}
		{{discussion-side-button
			addSortByQueryParam=true
			hideLabel=hasSiteName
			route='discussion.forum'
			useThemeColor=false
		}}
	{{/if}}
	{{#if hasSiteName}}
		<h1 {{action 'clickMobileHeaderWikiName'}}>{{siteName}}</h1>
	{{/if}}
	{{#if hasDaysToggle}}
		{{#discussion-dropdown
			toggleText=(i18n 'user-activity.days-count' numberOfDays=days ns='discussion')
			hasLinesBetween=false
		}}
			<li {{action this.attrs.setDays 30}}>{{i18n 'user-activity.days-count' numberOfDays=30 ns='discussion'}}</li>
			<li {{action this.attrs.setDays 90}}>{{i18n 'user-activity.days-count' numberOfDays=90 ns='discussion'}}</li>
		{{/discussion-dropdown}}
	{{/if}}
	{{#unless hasContentError}}
		{{#if hasNewPostButton}}
			<div {{action this.attrs.setEditorActive 'contributeEditor' true}} class="new-post">
				{{svg 'new-post-icon' viewBox='0 0 56 50'}}
			</div>
		{{/if}}
		{{#if hasFilters}}
			<div class="header-dropdown-button {{if isFilterApplied 'applied'}}" id="{{discussionMobileFilterId}}">
				{{svg 'filter-default' class='icon filter-default'}}
				{{svg 'filter-applied' class='icon filter-applied'}}
			</div>

			{{#pop-over for=discussionMobileFilterId on='click' flow='downCentered' class='filters-popover'}}
				{{discussion-filters
					applyFilters=(action this.attrs.applyFilters)
					canModerate=canModerate
					categories=categories
					isCategoryFilterDisabled=isCategoryFilterDisabled
					isSortingDisabled=isSortingDisabled
					showApplyButton=true
					showSortSection=true
					updateCategories=(action this.attrs.updateCategories)
					validatePostsOnForum=(action this.attrs.validatePostsOnForum)
				}}
			{{/pop-over}}
		{{/if}}
	{{/unless}}
	{{#if canDeleteAll}}
		{{#discussion-dropdown
			toggleText=(i18n 'main.moderation-header' ns='discussion')
		}}
			<li {{action this.attrs.deleteAllPosts}} class="active-element-theme-color delete-all">
				{{svg 'delete' viewBox='0 0 16 19' class='icon delete'}}
				{{i18n 'main.delete-all' ns='discussion'}}
			</li>
			{{#if showDiscussionsLogLink}}
				<li>
					<a href={{discussionsLogUrl}} class="active-element-theme-color">
						{{svg 'documents' viewBox='0 0 16 19' class='icon'}}
						{{i18n 'main.view-discussions-log' ns='discussion'}}
					</a>
				</li>
			{{/if}}
		{{/discussion-dropdown}}
	{{/if}}
</div>
