<ul class="user-activity-options">
	<li class="{{if isPostsActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.posts' click=(action 'trackUserActivityActiveUsersTabTap')}}
			{{{i18n 'user-activity.active-users-toggle-option' ns='discussion'}}}
		{{/link-to}}
	</li>
	<li class="{{if isReportsActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.reports' click=(action 'trackUserActivityReportsTabTap')}}
			{{{i18n 'user-activity.reports-toggle-option' ns='discussion'}}}
		{{/link-to}}
	</li>
	<li class="{{if isModerationsActive 'active'}}">
		{{#link-to 'discussion.moderator.user-activity.moderations' click=(action 'trackUserActivityModeratorActionsTabTap')}}
			{{{i18n 'user-activity.moderator-actions-toggle-option' ns='discussion'}}}
		{{/link-to}}
	</li>
</ul>

{{#if responsive.isDesktop}}
	{{#discussion-dropdown
		toggleText=(i18n 'user-activity.days-count' numberOfDays=days ns='discussion')
		hasLinesBetween=false
	}}
		<li {{action 'setDays' 30}}>{{i18n 'user-activity.days-count' numberOfDays=30 ns='discussion'}}</li>
		<li {{action 'setDays' 90}}>{{i18n 'user-activity.days-count' numberOfDays=90 ns='discussion'}}</li>
	{{/discussion-dropdown}}
{{/if}}
