<a class="user-avatar__link" href="{{userProfile.profileUrl}}">
	<img class="left-rail-avatar" src="{{userProfile.avatarUrl}}" title="{{userName}}" alt="Avatar">
</a>
<p>{{userName}}</p>
<p>{{numberOfPosts}}</p>
