{{#if userProfile.avatarUrl }}
<a class="user-avatar__link" href="{{userProfile.profileUrl}}">
	<img class="left-rail__avatar" src="{{userProfile.avatarUrl}}" title="{{userName}}" alt="Avatar">
</a>
{{/if}}
<p class="left-rail__username">{{userName}}</p>
<p class="left-rail__postcounter">{{numberOfPosts}} {{i18n 'user-activity.posts' ns='discussion'}}</p>
