{{#if showAvatars}}
	{{discussion-contributors
			users=model.latestActors
			maxContributorDisplayCount=5
			totalContributorCount=model.totalUniqueActors
	}}
{{/if}}
<a href="{{model.uri}}" {{action 'onNotificationClicked' preventDefault=false}}>
	<a {{action 'markAsRead' model}}>
		<div class="notification-icon-wrapper">
			{{svg iconName viewBox='0 0 24 24' class='icon'}}
		</div>
	</a>
	<div class="notification-body">
		<p class="notification-text">
			{{{text}}}
		</p>
		{{#if showSnippet}}
			<p class="notification-entity-text-snippet">
				{{{postSnippetMarkup}}}
			</p>
		{{/if}}
		{{#if model.isAnnouncement}}
			<p class="notification-entity-announcement-author">
				{{model.announcementAuthor}}
			</p>
		{{/if}}
		<ul class="notification-context-list">
			<li class="notification-context-item">
				{{time-ago model.timestamp}}
			</li>
			<li>
				<span class="notification-context-separator">.</span>
			</li>
			<li class="notification-context-item">
				{{model.communityName}}
			</li>
		</ul>
	</div>
</a>
