<figure class="avatar">
	{{#if avatarUrl}}
		{{#if shouldWrapInHref}}
			<a href="{{profileUrl}}">
				<img src="{{avatarUrl}}">
			</a>
		{{else}}
			<img src="{{avatarUrl}}">
		{{/if}}
	{{else}}
		{{unbound (svg 'avatar' viewBox='0 0 40 40' class='icon')}}
	{{/if}}
</figure>
{{#if badgePermission}}
	{{discussion-user-avatar-badge
		badgePermission=badgePermission
	}}
{{/if}}
{{#if displayProfileName}}
	{{#if shouldWrapInHref}}
		<a href="{{unbound profileUrl}}" class="avatar-username">{{unbound displayName}}</a>
	{{else}}
		<span class="avatar-username">{{unbound displayName}}</span>
	{{/if}}
{{/if}}
