{{#if model.inRoot}}
	{{#if isUserAuthenticated}}
		<div class="wikia-nav__header user-profile-header">
			<a {{action 'onUsernameClicked' preventDefault=false}}
					class="wikia-nav--external wikia-nav--profile-link">
				<figure class="wikia-nav__avatar">
					<img src={{currentUser.avatarPath}} alt="{{currentUser.name}}">
				</figure>
				{{i18n 'app.user-menu-profile'}}
				{{svg 'wds-icons-menu-control' viewBox='0 0 24 24' class='icon'}}
			</a>
		</div>
	{{else}}
		<a class="wikia-nav__header" {{action 'goToLogin'}}>
			<figure class="wikia-nav__avatar">
				{{svg 'avatar' class='wikia-nav--login'}}
			</figure>
			{{i18n 'userStatus.login-text'}} | {{i18n 'userStatus.register-text'}}
		</a>
	{{/if}}
{{else}}
	<a class="wikia-nav__header wikia-nav__back" {{action 'goBack'}} href="#">
		{{model.header}}
	</a>
{{/if}}

{{nav-menu
	items=model.items
	onClickHandler=(action 'onClick')
	onChangeItemHandler=(action 'goToSubNav')
}}
