{{! Tags set once (static head tags) }}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

{{#if model.themeColor}}
	<meta name="theme-color" content="{{model.themeColor}}">
{{/if}}

{{#if model.gaUrl}}
	<link rel="dns-prefetch" href="{{model.gaUrl}}">
{{/if}}

{{#if model.favicon}}
	<link rel="shortcut icon" href="{{model.favicon}}">
{{/if}}

{{! Tags updated on each transition (dynamic head tags) }}

{{#if model.htmlTitle}}
	<title>{{model.htmlTitle}}</title>
{{/if}}

{{#if model.description}}
	<meta name="description" content="{{model.description}}">
{{/if}}

{{#if model.keywords}}
	<meta name="keywords" content="{{model.keywords}}">
{{/if}}

{{#if model.robots}}
	<meta name="robots" content="{{model.robots}}">
{{/if}}

{{#if model.canonical}}
	<link rel="canonical" href="{{model.canonical}}">
{{/if}}
